{% extends 'base.html.twig' %}

{% block title %}
    Step Two
{% endblock %}

{% block body %}
    <h1>Step Two</h1>
    <br />
    <form action="{{ app.request.uri }}" method="post">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" value="{{ user.address }}" />

        <label for="housenumber">House Number</label>
        <input type="text" name="housenumber" id="housenumber" value="{{ user.housenumber }}" />

        <label for="zipcode">Zip code</label>
        <input type="text" name="zipcode" id="zipcode" value="{{ user.zipcode }}" />

        <label for="city">City</label>
        <input type="text" name="city" id="city" value="{{ user.city }}" />

        <button>Next</button>
    </form>
    <form action="{{ path("previousstep") }}" method="post">
        <input type="hidden" name="previousstep" id="previousstep" value="stepone" />
        <button>Previous step</button>
    </form>
{% endblock %}