{% extends 'base.html.twig' %}

{% block title %}
    Step Three
{% endblock %}

{% block body %}
    <h1>Step Three</h1>
    <br />
    {% if error is not empty %}
        <h3>There was an error please try your request again</h3>
    {% endif %}
    <br />
    <form action="{{ app.request.uri }}" method="post">
        <label for="address">Account Owner</label>
        <input type="text" name="owner" id="owner" value="" />

        <label for="iban">Iban</label>
        <input type="text" name="iban" id="iban" value="" />

        <button>Next</button>
    </form>

    <br />
    <form action="{{ path("previousstep") }}" method="post">
        <input type="hidden" name="previousstep" id="previousstep" value="steptwo" />
        <button>Previous step</button>
    </form>
{% endblock %}