{% extends 'base.html.twig' %}

{% block title %}
    Step One
{% endblock %}

{% block body %}
    <h1>Step One</h1>
    <br />
    <form action="{{ app.request.uri }}" method="post">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" id="firstname" value="{{ user.firstname }}" />

        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" id="lastname"  value="{{ user.lastname }}"/>

        <label for="telephone">Telephone</label>
        <input type="text" name="telephone" id="telephone" value="{{ user.telephone }}"/>

        <button>Next</button>

    </form>
    <form action="{{ path("previousstep") }}">

    </form>
{% endblock %}