{% extends 'base.html.twig' %}

{% block title %}
    Confirmation
{% endblock %}

{% block body %}
    <h1>Confirmation</h1>
    <br />
        Your payment has been correctly registered!
        with the paymentDataId: {{ paymentDataId }}
    </form>
    <br /><br />
    <a href="{{ path("stepone") }}"><button>get back to step one</button></a>
{% endblock %}